@charset "utf-8";
/* CSS Document */
#addproducto .subcategoria{
	width: 80%;
	padding: 2%;
	border: 1px solid #CCCCCC;
	font-size: 16px;
	background-color: #eeeeee;
}
#addproducto .guardar{
	width: 15%;
	border: 1px solid #1698d5;
	font-size: 16px;
	background-color: #1698d5;
	padding-top: 2%;
	padding-right: 0%;
	padding-bottom: 2%;
	padding-left: 0%;
	color: #FFFFFF;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  cursor: pointer;	
}
#addproducto hr{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	height: 1px;
	background-color: #eeeeee;
	margin-bottom: 20px;
}

#addproducto .guardar:hover {
	background-color: #23a1dc;
}
#dummy_addp{
	display: block;
	clear: both;
	height: 40px;
	width: 100%;
}
#dummy_addpb{
	display: block;
	clear: both;
	height: 5px;
	width: 100%;
}
#addproducto .cajas_p_editado{
	display: block;
	border: 1px solid #CCCCCC;
	background-color: #eaeaea;
	padding: 10px;
}
#addproducto .cajas_p_editado small{
	text-align: right;
	color: #0098da;
	display: block;
	position:relative;
}

#addproducto .box_addpics {
	background-color: #FAFAFA;
	border: 1px solid #eeeeee;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
#addproducto .box_addpics .p_pic {
	background-color: #eaeaea;
	height: 120px;
	width: 120px;
	border: 1px solid #CCCCCC;
	background-image: url(../img/interrogacao.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
#menu_lateral {
	display: block;
	float: left;
	height: 410px;
	width: 100px;
	background-color: #333333;	
}
#menu_lateral a {
	display: block;
	padding-top: 17px;
	padding-bottom: 16px;
	color: #FFFFFF;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	text-decoration: none;
	background-image: url(../img/flecha_add.png);
	background-repeat: no-repeat;
	background-position: 100px center;

  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;		
}
#menu_lateral a:hover {
	background-color: #222222;
}
#menu_lateral #sel {
	background-color: #FFFFFF;
	background-image: url(../img/flecha_add.png);
	background-repeat: no-repeat;
	background-position: 95px center;
	color: #333333;
}

#menu_lateral i {
	font-size: 28px;
	display: block;
	margin-bottom: 5px;
}

#contenido_right {
	display: block;
	float: right;
	height: 410px;
	width: 900px;
}
#contenido_main {
	display: block;
	height: 410px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#resultado {
	color: #999999;
	display: block;
	padding-top: 15px;
	text-indent: 5px;
}
.titulos_basicos_ {
	font-size: 24px;
}
#addseccion #button {
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;		
}
#addseccion #descrip {
	border: 1px solid #CCCCCC;
	width: 100%;
	font-size: 18px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 8px;
	padding-left: 0px;
	text-indent: 8px;
	font-family: arial;
	margin-top: 10px;
}
#addseccion select {
	border: 1px solid #CCCCCC;
	width: 100%;
	font-size: 15px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	font-family: arial;
	-webkit-appearance: none;
	-moz-appearance: none;
	float: none;
	text-align: center;
	text-indent: 5px;
	margin-left: 0px;
	margin-right: 0px;
}
#addseccion input:focus, #addseccion #descrip:focus {
	border: 1px solid #b6b6b6;	
}
#addseccion #button:hover {
	background-color: #333333;
}


.prod_thumb_img{
	display: block;
	float: left;
	border: 0px solid #ffffff;
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
       -o-transition: all .3s ease;
      -ms-transition: all .3s ease;
          transition: all .3s ease;
	position:relative;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.prod_thumb_img_elim { display:none; }
.prod_thumb_img:hover .prod_thumb_img_elim {
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	display: block;
	width: 75px;
	margin-top: -35px;
	margin-left: 0px;
	margin-right: 0px;
	z-index:2;
	font-size: 25px;
	color: #e96969;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url(../slider_empresas/bg_transparent_delete.png);
	background-position: center center;
	background-repeat: no-repeat;
	padding-right: 0px;
	padding-left: 0px;
}
.prod_thumb_img_elim a{
	color: #e96969;
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
       -o-transition: all .3s ease;
      -ms-transition: all .3s ease;
          transition: all .3s ease;		
}
.prod_thumb_img_elim a:hover{
	color: #333333;
}
.prod_thumb_img:hover {
	border: 0px solid #eeeeee;
}
.prod_thumb_img:hover img {
	-moz-box-shadow:0 0 10px #dddddd;
	-webkit-box-shadow:0 0 10px #dddddd;
	box-shadow:0 0 10px #dddddd;	
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
       -o-transition: all .3s ease;
      -ms-transition: all .3s ease;
          transition: all .3s ease;	
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.msg_editar {
	font-size: 18px;
	display: block;
	padding-top: 1%;
	padding-right: 5%;
	padding-bottom: 1%;
	padding-left: 5%;
	border: 1px solid #ffd700;
	background-color: #ffffdd;
	color: #000000;
	text-align: center;
	clear: both;
	margin-top: 10px;
}
.msg_editar i {
	color: #ffd700;
}
.boton_prod_ a {
	display: block;
	clear: both;
	float: none;
	width: 75px;
	text-align: center;
	background-color: #0098da;
	line-height: 30px;
	text-decoration: none;
	margin-top: 9px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 11px;
	text-transform: uppercase;
	margin-right: auto;
	margin-left: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;		
}
.boton_prod_no a {
	display: block;
	clear: both;
	float: none;
	width: 75px;
	text-align: center;
	background-color: #dddddd;
	line-height: 30px;
	text-decoration: none;
	margin-top: 9px;
	font-weight: normal;
	color: #666666;
	font-size: 11px;
	text-transform: uppercase;
	margin-right: auto;
	margin-left: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;		
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
       -o-transition: all .3s ease;
      -ms-transition: all .3s ease;
          transition: all .3s ease;			
}
.boton_prod_no a:hover {
	background-color: #cccccc;
	color: #333333;
	font-size: 11px;
	
}
#avisosadd {
	display: block;
	color: #bb6f6f;
	text-align: center;
	clear: both;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #efcec9;
	border: 1px solid #bb6f6f;
	width: 100%;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	font-size: 15px;
	font-weight: bold;
}
.sinespacios td {
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 10px;
}

input::-webkit-input-placeholder {
	font-size: 13px;
    color: #999;
}
input:-moz-placeholder {
	font-size: 13px;
    color: #999;
}
input:-ms-input-placeholder { 
	font-size: 13px;
    color: #999;
}

textarea::-webkit-input-placeholder {
	font-size: 13px;
    color: #999;
}
textarea:-moz-placeholder {
	font-size: 13px;
    color: #999;
}
textarea:-ms-input-placeholder { 
	font-size: 13px;
    color: #999;
}
.actualcat {
	display: block;
	font-size: 22px;
	line-height: 50px;
	color: #333333;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tiptext {
	visibility: hidden;
	width: 200px;
	background-color: #e96969;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	padding: 6px;
	position: absolute;
	z-index: 1;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.tooltip .tiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}
.tooltip:hover .tiptext {
    visibility: visible;
}
.tooltip.right .tiptext{
    top: 25px;
    left: 110%;
}
.tooltip.right .tiptext::after{
    margin-top: -5px;
    top: 50%;
    right: 100%;
    border-color: transparent #e96969 transparent transparent;
}