@charset "utf-8";
/* CSS Document */
.drop_space{
	display: block;
	height: 52px;
}
#menudrop, #menudrop ul, #menudrop ul li,
#menudrop ul li ul, #menudrop ul li ul li {
margin:0;
padding:0;
}
#menudrop{
	background-color: #e96969;	
list-style:none;
margin-bottom:10px;
float:left;
width:100%;

position:relative;
z-index:5;

}
#menudrop li{
float:left;
margin-right:0px;
position:relative;
}
#menudrop a{
	display:block;
	color:#fff;
	text-decoration:none;
	padding-right: 12px;
	padding-left: 12px;
	line-height: 40px;
}
#menudrop a:hover{
color:#fff; 
background:#333333;
text-decoration: none;
}
#menudrop ul{
/* Color de fondo de la web -para IE- */
background:white;
/* Idem transparente para navegadores que lo soporten */ 
list-style:none;
position:absolute;
left:-9999px; /* Escondemos inicialmente los submenús */
}
#menudrop ul li{
padding-top:0px; /* Separación vertical entre elementos */
float:none;
}
#menudrop ul a{
white-space:nowrap; /* Separa los elementos en diferentes líneas */
}
#menudrop li:hover ul{
left:0; /* Submenús visibles */
}
/* Para que cuando se mueva el cursor por los elementos del submenú los elementos permanecen visibles */
#menudrop li:hover a{ 
background:#333333; /* Aprovechamos para cambiar de color los señalados */ 
text-decoration:none;
}
#menudrop li:hover ul a{ 
text-decoration:none;
}
#menudrop li:hover ul li a:hover{ 
background:#2c2c2c;
}
.drop_emp{
	margin-top:-144px;
}
.fix_drop_menu_empresas {
  -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  transition:1s;
	position: fixed;
	width: 1100px;
	z-index:10;
	margin-top:-144px;
}



/***** CON EL FIX ****/
.fix_drop_menu_empresas #menudrop, .fix_drop_menu_empresas #menudrop ul, .fix_drop_menu_empresas #menudrop ul li,
.fix_drop_menu_empresas #menudrop ul li ul, .fix_drop_menu_empresas #menudrop ul li ul li {
margin:0;
padding:0;
}
.fix_drop_menu_empresas #menudrop{
	background-color: #FFFFFF;
	list-style:none;
	margin-bottom:10px;
	float:left;
	width:100%;
	position:relative;
	z-index:5;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dddddd;
}
.fix_drop_menu_empresas #menudrop li{
float:left;
margin-right:0px;
position:relative;
}
.fix_drop_menu_empresas #menudrop a{
	display:block;
	color:#333333;
	text-decoration:none;
	padding-right: 12px;
	padding-left: 12px;
	line-height: 40px;
}
.fix_drop_menu_empresas #menudrop a:hover{
color:#fff; 
background:#333333;
text-decoration: none;
}
.fix_drop_menu_empresas #menudrop ul{
/* Color de fondo de la web -para IE- */
background:white;
/* Idem transparente para navegadores que lo soporten */ 
list-style:none;
position:absolute;
left:-9999px; /* Escondemos inicialmente los submenús */
}
.fix_drop_menu_empresas #menudrop ul li{
padding-top:0px; /* Separación vertical entre elementos */
float:none;
}
.fix_drop_menu_empresas #menudrop ul a{
white-space:nowrap; /* Separa los elementos en diferentes líneas */
}
.fix_drop_menu_empresas #menudrop li:hover ul{
left:0; /* Submenús visibles */
}
/* Para que cuando se mueva el cursor por los elementos del submenú los elementos permanecen visibles */
.fix_drop_menu_empresas #menudrop li:hover a{ 
background:#333333; /* Aprovechamos para cambiar de color los señalados */ 
text-decoration:none;
color:#fff; 
}
.fix_drop_menu_empresas #menudrop li:hover ul a{ 
text-decoration:none;
}
.fix_drop_menu_empresas #menudrop li:hover ul li a:hover{ 
background:#2c2c2c;
}