/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 10px 0;
 border-bottom: 1px solid #ddd;
 font: bold;
}

ul.tabbernav li
{
	list-style: none;
	margin: 0;
	display: inline;
}

ul.tabbernav li a
{
	margin-right: 3px;
	border: 1px solid #ddd;
	border-bottom: none;
	text-decoration: none;
	color: #888888;
	background-color: #eee;
	font-size: 15px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	/*font-family: 'Raleway', sans-serif;*/
	font-weight:700;
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;		
}
ul.tabbernav li small
{
	margin-right: 3px;
	border: 1px solid #ddd;
	border-bottom: none;
	text-decoration: none;
	color: #999999;
	background-color: #eee;
	font-size: 11px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;	/*font-family: 'Raleway', sans-serif;*/
}




ul.tabbernav li a:hover
{
	color: #000;
	background: #eee;
	color: #161616;
	text-decoration:none;
	border-color: #ddd;

}

ul.tabbernav li.tabberactive a
{
	background-color: #fff;
	border-bottom: 1px solid #fff;
	color: #161616;		
  animation: parpadeob;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeob;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;	
}


@-moz-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.5; }
  100% { opacity: 1.0; }
}

@-moz-keyframes parpadeob {  
  0% { opacity: 1.0; }
  50% { opacity: 1.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeob {  
  0% { opacity: 1.0; }
  50% { opacity: 1.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeob {  
  0% { opacity: 1.0; }
   50% { opacity: 1.0; }
  100% { opacity: 1.0; }
}

ul.tabbernav li.tabberactive a:hover
{
	color: #111111;
	background: white;
	border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
	border:0 solid #ddd; /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px; /* height:200px; */
 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
	height:auto;
	overflow:auto;
}
